 /*Configuração padrão*/
 body, html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%; /* segredo do efeito parallax*/
}
.conteudo{
    color:#777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
p{
    margin-bottom: 20px;
}

.conteudo-titulo{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    background-color: #111;
    border-radius: 10px;
    padding: 18px;
    font-size:25px ;
    letter-spacing: 5px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Efeito Parallax */
.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6{
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;/*Faz a img cobrie toda área desponivel*/
    background-position: center;
    background-attachment: fixed; /*Fixa a imagem e causa o efeito parallax*/
}
.caixa1{
    background-image: url(/src/IMG/imagem1.jpg);
}
.caixa2{
    background-image: url(/src/IMG/imagem2.jpg); 
}
.caixa3{
    background-image: url(/src/IMG/imagem3.jpg);
}
.caixa4{
    background-image: url(/src/IMG/imagem4.jpg);  
}
.caixa5{
    background-image: url(/src/IMG/imagem5.jpg); 
}
.caixa6{
    background-image: url(/src/IMG/imagem6.jpg);
}

